/* .jumbotron {
    border-radius: 0;
  }

  .input-group-text {
    border-right-color: white;
    background-color: white;
  }

  .input-group > input {
    border-left-color: white;
  } */

  .laundry {
   width: 50%; 
   text-align:left; 
   margin-left: auto; 
   margin-right: auto;
  }

  .laundry_list {
    display: none;
  }