<<<<<<< HEAD:views/public/index.css
.bg-sparta {
    background-color: #b362c5 !important;
  }
  
  .btn-sparta {
    color: #ffffff !important;
    background-color: #b362c5 !important;
    border-color: #b362c5 !important;
=======
  .laundry {
   width: 50%; 
   text-align:left; 
   margin-left: auto; 
   margin-right: auto;
  }

  .laundry_list {
    display: none;
  }

  .container {
    margin-bottom: 10px;
>>>>>>> 19a70c0294a1172f588feccb2dc6e9807605be40:views/public/owner.css
  }
  
  .btn-outline-sparta {
    color: #b362c5 !important;
    background-color: #ffffff !important;
    border-color: #b362c5 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .wrap {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
  }
<<<<<<< HEAD:views/public/index.css
  
=======

>>>>>>> 19a70c0294a1172f588feccb2dc6e9807605be40:views/public/owner.css
  .modal-header {
    border-bottom-color: #ffffff;
  }
  
  .modal-footer {
    border-top-color: #ffffff;
  }
  
  .alert {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
  }
  
  @media screen and (min-width: 576px) {
    .alert {
      width: fit-content;
      max-width: 480px;
    }
  }
  
  .alert-sparta {
    color: #b362c5;
    background-color: #ffe7ff;
    border-color: #ffcde7;
  }
  
  .alert-sparta .alert-link {
    color: #360000;
  }
  